body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

.container {
    width: 300px;
}

.items label {
    display: block;
    margin: 10px 0;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    padding: 8px;
}
